* {
  list-style-type: none;
}
/*.backgroundImg {
  opacity: .3;
  position: fixed;
  width: 100%;
  z-index: 0;
}*/


#container{
  width: 100%;
  background-image: url("assets/bg.jpg");
  background-size: cover;
}



/****************************************************************************
*****************************************************************************
                              BANNER
*****************************************************************************
****************************************************************************/
.banner {
  width: 100%;
  color: white;

}

.banner ul {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
}




/****************************************************************************
*****************************************************************************
                              NAVIGATION
*****************************************************************************
****************************************************************************/
.nav {
  width: 100%;

}

nav ul {
  width: 60%;
  font-size: .7em;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  color: white;

}

nav li {
  padding: 10px;
  margin: 10px;
  width: 30%;
  background-color: red;
  justify-content: center;
  text-align: center;
}

nav li:before {

}



/****************************************************************************
*****************************************************************************
                              NAVIGATION
*****************************************************************************
****************************************************************************/







/****************************************************************************
*****************************************************************************
                              NAVIGATION
*****************************************************************************
****************************************************************************/





/****************************************************************************
*****************************************************************************
                              NAVIGATION
*****************************************************************************
****************************************************************************/
