.threeDots {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  ul{
    display: flex;
    flex-direction: row;
  }
  li {
    padding: 5px;
    margin: 5px;
    width: 20px;
    height: 20px;
  }
  li:hover {
    background-color: red;
    transform:scale(1.5);
  }
}

.mainContent {
  display:flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  section:nth-child(3) {
    margin: 0 10px 0 10px;
  }
}

section {
  display: flex;
  background-color: white;
  width: 33%;
  flex-direction: column;
  padding: 2%;
  margin: 0 auto;
  box-shadow: $boxShadow;
  h1 {
    font-size: 25px;
  }
  time {
    color: gray;
    margin: 10px 0 40px 0;
  }
  section a {
    color: red;
    align-self: center;
  }
}
