header {
  width: 60%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/top-image.png');
  background-position: top;
  background-size: 140%;
  margin: 0 auto;
  position: relative;
  border-style: solid;
  border-color: white;
  border-width: 12px;
  box-shadow: $boxShadow;

}

.grid img {
  height: 380px;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.peralta {
  display: flex;
  vertical-align: middle;
  margin: 0;
  margin-left: 2%;
  align-items: center;
  height: 390px;
  img {
    z-index: 2;
  }
}


// @-webkit-keyframes cameraAnimate {
//   0% {  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/top-image.png');
//     background-position: top;
//     background-size: 140%;
//     margin: 0 auto;
//     position: relative;}
//   25% {  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('http://www.remotion4d.net/Gallery/singapore/galleries/WoodStock.jpg');
//     background-position: top;
//     background-size: 140%;
//     margin: 0 auto;
//     position: relative;}
//   50% {background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/top-image.png');}
//   100% {background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/top-image.png');}
// }
//
// header {
//   -webkit-animation: cameraAnimate 10s infinite;
//}
