* {
  list-style-type: none; }

ul {
  margin: 0 auto; }

body {
  width: 100%; }

#container {
  width: 100%;
  /*background-image: url("assets/bg.jpg");*/
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/bg.jpg");
  margin: 0 auto;
  padding-bottom: 100px;
  background-attachment: fixed; }

.circle {
  width: 5px;
  height: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
  margin: 0; }

.circleCol {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: flex-end; }

.banner {
  width: 80%;
  color: white;
  height: 75px; }
  .banner ul {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    height: 100px; }
  .banner li {
    display: flex;
    align-items: center; }
  .banner li:nth-child(6) {
    margin-right: 7%; }
  .banner a:hover {
    opacity: .5; }

.subscribe {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: lighter;
  font-family: 'Quicksand'; }
  .subscribe li {
    margin: 10px; }

.circleCol ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .circleCol ul li {
    margin: 1px; }

.banner > ul > li img {
  width: 50px;
  -webkit-filter: grayscale(50%);
  margin-left: 5px;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12); }

nav {
  width: 61%;
  margin: 0 auto;
  padding: 0; }
  nav ul {
    width: 100%;
    font-size: .9rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    color: white; }
    nav ul li {
      padding: 10px;
      margin: 1%;
      width: 30%;
      background-color: #be3737;
      justify-content: center;
      text-align: center;
      font-family: 'Quicksand';
      box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12);
      transition-duration: 1s; }
    nav ul li:hover {
      transform: scale(1.5); }

header {
  width: 60%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/top-image.png");
  background-position: top;
  background-size: 140%;
  margin: 0 auto;
  position: relative;
  border-style: solid;
  border-color: white;
  border-width: 12px;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12); }

.grid img {
  height: 380px;
  width: 100%;
  position: absolute;
  z-index: 1; }

.peralta {
  display: flex;
  vertical-align: middle;
  margin: 0;
  margin-left: 2%;
  align-items: center;
  height: 390px; }
  .peralta img {
    z-index: 2; }

.threeDots {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px; }
  .threeDots ul {
    display: flex;
    flex-direction: row; }
  .threeDots li {
    padding: 5px;
    margin: 5px;
    width: 20px;
    height: 20px; }
  .threeDots li:hover {
    background-color: red;
    transform: scale(1.5); }

.mainContent {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto; }
  .mainContent section:nth-child(3) {
    margin: 0 10px 0 10px; }

section {
  display: flex;
  background-color: white;
  width: 33%;
  flex-direction: column;
  padding: 2%;
  margin: 0 auto;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12); }
  section h1 {
    font-size: 25px; }
  section time {
    color: gray;
    margin: 10px 0 40px 0; }
  section section a {
    color: red;
    align-self: center; }

.skaters {
  width: 61%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 500px; }
  .skaters h1 {
    color: white;
    font-weight: bold;
    font-size: 250%;
    margin: 0 auto; }
  .skaters ul {
    color: white;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px; }

.skaters > ul > li {
  display: flex;
  text-align: center; }

.right {
  display: flex;
  width: 32.8%; }
  .right li {
    margin: 1%;
    margin-right: 0;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12);
    border-style: solid; }

.left {
  width: 66%; }
  .left li {
    border-style: solid;
    margin: 1%;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12); }

.lance {
  background-image: url("../assets/sk8er-4.png");
  width: 48%;
  display: flex;
  align-items: center;
  background-position: -80px 0px; }

.rodney {
  background-image: url("../assets/sk8er-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 48%;
  display: flex;
  align-items: center;
  background-position: 0px 0px; }

.tommy {
  background-image: url("../assets/sk8er-1.png");
  width: 100%;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -50px; }

.steve {
  background-image: url("../assets/sk8er-2.png");
  width: 100%;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0;
  padding-right: 0;
  background-position: -390px 0px; }

.skateboards {
  width: 60%;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 3%;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12); }
  .skateboards ul {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto; }
  .skateboards li {
    width: 10%;
    padding: 1.5%;
    transition: 5s; }

.footer {
  background-color: white;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12); }
  .footer p {
    font-size: 17px; }
  .footer h2 {
    font-size: 15px;
    color: lightgray;
    font-family: serif;
    padding: 1% 3%; }
  .footer h1 {
    font-size: 25px; }
  .footer ul {
    margin: 0 auto;
    width: 100%; }
  .footer img {
    -webkit-filter: grayscale(76%);
    width: 28px; }
  .footer li {
    display: inline-block;
    vertical-align: top; }
  .footer button {
    background-color: #be3737;
    width: 250px;
    height: 50px; }

.footer > ul > li {
  padding: 1% 5%; }

.footerLeft {
  width: 48%;
  margin: 0 auto; }

.footerRight {
  width: 48%;
  margin: 0 auto;
  margin-top: 2%; }
  .footerRight li {
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    border-top-width: thick;
    border-top-style: solid;
    border-left-style: solid;
    border-left-width: thick;
    width: 100%;
    margin: 1%; }
  .footerRight ul li:nth-child(3) {
    height: 5em; }
  .footerRight ul li:nth-child(4) {
    border-style: none;
    display: flex;
    justify-content: flex-end; }

.arrow {
  margin: 0;
  background-color: #be3737;
  width: 190px;
  height: 70px;
  position: absolute;
  margin-left: -18%;
  margin-top: 4%;
  display: flex;
  justify-content: flex-start;
  padding-left: 1%;
  opacity: .0; }
  .arrow:after {
    border: solid transparent;
    content: '';
    border-width: 35px;
    border-left-color: #be3737;
    position: absolute;
    margin: 0 auto; }
  .arrow h3 {
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    width: 200px; }

.footer:hover > .arrow {
  opacity: 1; }

.skaters:hover > .arrow {
  opacity: 1; }

.mainContent:hover > .arrow {
  opacity: 1; }

.skateboards:hover > .arrow {
  opacity: 1; }

@media (max-width: 1200px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
  section {
    width: 100%;
    margin: 10px 10px 10px 0px; }
  .mainContent section:nth-child(3) {
    margin: 0 10px 0 0px; }
  .banner {
    margin-bottom: 10px; }
  nav {
    width: 100%; }
    nav ul {
      flex-direction: column;
      position: fixed; }
    nav li {
      width: 18%;
      display: flex;
      flex-direction: column; }
  .arrow {
    display: none; }
  .skaters {
    height: 900px; }
  .lance {
    width: 100%;
    background-size: cover;
    height: 280px;
    background-position: 10px 0; }
  .rodney {
    width: 100%;
    height: 280px; }
  .tommy {
    width: 100%;
    height: 280px;
    background-size: cover; }
  .steve {
    display: none; }
  .left {
    width: 100%; }
  .right {
    width: 100%; }
  .footer {
    width: 60%; }
    .footer .footerLeft {
      width: 100%; }
    .footer .footerRight {
      width: 100%; } }

@media (max-width: 550px) {
  .banner {
    width: 100%;
    margin: 0 auto; }
    .banner .circleCol {
      display: none; }
    .banner .subscribe li {
      display: none; }
    .banner ul {
      display: flex;
      justify-content: center;
      padding: 0; }
  nav {
    width: 100%; }
    nav ul {
      flex-direction: row;
      position: relative; }
    nav li {
      width: 100%;
      display: flex;
      flex-direction: column; }
  header {
    height: 400px;
    width: 100%; }
    header .grid img {
      height: 380px; }
    header .peralta img {
      display: none; }
  .mainContent {
    width: 100%; }
  .skaters {
    width: 100%; }
  .skateboards {
    width: 100%; }
    .skateboards ul {
      display: flex;
      flex-wrap: wrap; }
    .skateboards li {
      width: 20%;
      wrap: wrap; }
  .footer {
    width: 100%; }
    .footer .footerLeft {
      width: 100%; }
    .footer .footerRight {
      width: 100%; } }
